@import url(../assets/Styles/global.scss);
.dashboard-container {
    display: flex; 
    justify-content: space-between;
    
  }
  
  .sidebar{
    background-color:#333;
    width: 18%;
    height: 100vh;
    position: sticky;
    .sidebar-header{
        padding-top: 5%;
        color: white;
        text-align: center;
    }
    .sidebar-menu,.logout-btn{
        padding: 5%;
        margin-left: 2%;
        justify-content: center;
        align-items: center;
    }
    .sidebar-menu >li:active{
      background-color: #1976d2;
    }
    a{
        all: unset;
        color: white;
    }
    .sidebar-menu> li{
        all:unset;
        display: flex;
        flex-direction: column;
        padding: 3%;
        cursor: pointer;
        border-bottom: 1px solid #666;
    }
} 
.main-content {
    flex: 1; 
    overflow-y: auto;
    padding: 20px; 
    // background-color:var(--primaryColor);

    .charts{
        height: 50vh;
        background-color: rgb(134, 132, 132);
        margin: 0;
        padding: 0;
        border-radius: 5px;
    }
    /* Table container */
.table-container {
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Table */
  .table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  /* Table header */
  .table-header {
    background-color: #97c7f7;
    color: white;
  }
  
  .table-header-cell {
    font-weight: 600;
    font-family: var(--poppinsFont);
    padding: 16px;
    text-align: left;
  }
  
  /* Table body */
  .table-body {
    background-color: white;
  }
  
  .table-row:hover {
    background-color: #f5f5f5; /* Hover effect */
  }
  
  .table-cell {
    font-family: var(--poppinsFont);

    padding: 16px;
    border-bottom: 1px solid #e0e0e0; /* Divider between rows */
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #f5f5f5;
  }

  .action-btn{
    margin: 2%;
  }

  .booking-btn{
    background-color:white;
    color: #1976d2;
    font-weight: 600;
    font-family: var(--poppinsFont);
  }

  
}

.content {
max-width: 1200px; 
margin: 0 auto; 
}


// Booking 
.booking_cover{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5%;
}

.booking_list{
  width: 200px;
  margin: 0.5%;
  background: #ededed;
  border:1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}

.booking_list label{
  display: block;
  line-height: 26px;
}

.booking_list label:first-child{
  font-weight: bold;
  font-size: 16px;
}


.booking_listbtn{
margin-top: 10px !important;
text-transform: capitalize !important;
}