.home_cover{
    height: 100vh;
    display: flex;
    flex-direction :row;
    .left_content{
        width: 55%;
        background: linear-gradient(to right, #ffffff, #000000);

    }
    .right_content{
        width: 45%;
        background-color: black;
        h1{
            color: white;
            display: flex;
            padding: 30% 18% 0% 18%;
            font-weight: 600;
            justify-content: center;
            align-items: center;
        }
        p{
            color: gray;
            font-weight: 500;
            display: flex;
            justify-content: center;
            padding: 3%;
        }
        .btn_signin{
            text-transform: capitalize !important;
            width: 50%;
            height: 8vh;
            margin-left: 25%;
        }
    }
}

.home_content{
    padding: 10%;
}
.home_container{
    // background-color:#8cb2d8;
    display: flex;
    // margin-left: 9%;
    // gap: 60%;
    img{
        margin-left: 10%;
        background-color: transparent;
        // margin: 9%
    }
    .home_buttons{
        margin: 3% 0% 3% 3%;
    }  
}
.home_content{
    padding: 4% 4% 4% 6%;
    line-height: 30px;
    
}
