.image-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .header {
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        font-size: 2.5em;
        color: #007bff;
        margin-bottom: 10px;
      }
  
      h2 {
        font-size: 1.5em;
        color: #555;
      }
    }
  
    .content {
      text-align: center;
      margin-bottom: 20px;
  
      p {
        font-size: 1.2em;
        line-height: 1.6;
      }
    }
  
    .appointment-section {
      text-align: center;
  
      h3 {
        font-size: 1.8em;
        color: #ff0000; // Red color
        margin-bottom: 15px;
      }
  
      .offers {
        p {
          font-size: 1.2em;
          color: #555;
          margin: 5px 0;
        }
      }
    }
  }