@import url(../assets/Styles/global.scss);
*{
    font-family: var(--poppinsFont);
}
body {
    margin: 0;
    padding: 0;
    
}
.login{
    max-width: 25%;
    max-height:60%;
    
    margin: 11% 0% 5% 35%; 
    padding: 1% 3% 1% 3%;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 2%;
}

.container{
    max-width: 25%;
    max-height:60%;
    
    margin: 4% 0% 5% 36.5%; 
    padding: 0% 3% 1% 3%;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 2%;
}   
    h1{
        text-align: center;
        padding-bottom: 2%;
    }
    .fields{
        padding-bottom: 6%;
        
        .row{
            display: flex;
        }
    }
    .field{
        width: 100%;
        .icon{
            position: end;
        }
    }
    .err-msg{
        color: var(--error-fontColor);
        font-size: 15px;
        margin: 0;
    }
    .footer{
        text-align: center;
    }
    .highlight{
        color: var(--primaryColor);
        text-decoration: underline;
        cursor: pointer;
    }
    
